.full-page{
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 60%;
}
.title-div{
    background-color: #494949;
    text-align: center;
    color: rgb(70, 204, 70);
}
.count-div{
    text-align: center;
    color: rgb(53, 53, 53);
}
.input-div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
 }
 .input-box {
    box-shadow: 0 2px 8px rgba(201, 201, 201, 0.25);
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 5px;
    background-color: #d4d4d4;
  }
.result {
   color:rgb(11, 75, 11);
   text-align: right;
   padding: 20px;
   font-size: larger;
}